/* Global styles [Start] */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef5ff;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100vh;
}

.test {
  position: relative;
}

/* .test::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: red;
} */

p {
  font-size: 16px;
}

.container {
  width: 830px;
  margin: 60px auto;
  background-color: #fff;
  display: flex;
  padding: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(100% - 84px);
    background-color: #eef5ff;
  }
}

.container section {
  padding: 40px 60px 10px 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .container section {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: -65px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 24px;
  }
}

@media (max-width: 560px) {
  .container section {
    top: -65px;
    width: 90%;
    padding: 20px;
  }
}

.container section h2 {
  color: #093162;
  font-size: 28px;
}

.container section p {
  color: #a2a3a7;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (max-width: 376px) {
  .container section p {
    margin-bottom: 14px;
  }
}

.steps-buttons-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .your-info-section .steps-buttons-holder {
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .container section .steps-buttons-holder {
    display: none;
  }
}

.steps-buttons-holder .next-step {
  background-color: #053675;
  color: #f0f0f0;
  padding: 12px 24px;
  font-size: 14px;
  border: solid 2px #053675;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.steps-buttons-holder .next-step:hover {
  color: #053675;
  background-color: transparent;
}

.steps-buttons-holder .back-step {
  border: none;
  background-color: transparent;
  color: gray;
  user-select: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.steps-buttons-holder .back-step:hover {
  color: #000;
}

.steps-buttons-holder .next-step:hover.error {
  border-color: #ff3131;
  color: #ff3131;
}

/* Global styles [End] */







/* Sidebar [Start] */
.container .sidebar {
  background-image: url('assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 275px;
  height: 566px;
}

@media (max-width: 992px) {
  .container .sidebar {
    width: 100%;
    height: 200px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-position: 0 79%;
  }
}

.container .sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 992px) {
  .container .sidebar nav ul {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 24px;
  }
}

@media (max-width: 560px) {
  .container .sidebar nav ul {
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 376px) {
  .container .sidebar nav ul {
    margin-top: 0;
  }
}

.container .sidebar nav ul li {
  list-style: none;
  user-select: none;
}

.container .sidebar nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.container .sidebar nav ul li.blocked {
  opacity: 0.5;
}

.container .sidebar nav ul li a button {
  border: solid 1px #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.container .sidebar nav ul li:not(.blocked):not(.active):hover a button {
  background-color: rgba(190, 225, 253, 0.178);
}

.container .sidebar nav ul li.active a button {
  border: none;
  background-color: #bee1fd;
  color: #252525;
}

.container .sidebar nav ul li a div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media (max-width: 992px) {
  .container .sidebar nav ul li a div {
    display: none;
  }
}

.container .sidebar nav ul li a div .step {
  color: #9496ff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: -.1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.container .sidebar nav ul li:not(.blocked):not(.active):hover a div .step {
  color: #acaeff;
}

.container .sidebar nav ul li a div span:last-child {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Sidebar [End] */






/* Step 1 [Start]*/
/* .your-info-section {
  padding: 40px 60px 10px 80px;
  width: 100%;
} */

.your-info-section form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.your-info-section form .input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.your-info-section form .input div {
  display: flex;
  justify-content: space-between;
}

.your-info-section form .input div label {
  color: #3267a3;
  font-size: 14px;
  font-weight: 500;
}

.your-info-section form .input div span {
  color: #ff3131;
  font-size: 12px;
  font-weight: bold;
}

.your-info-section form .input {
  user-select: none;
}

.your-info-section form .input input {
  width: 100%;
  padding: 14px;
  outline: none;
  border: solid 1px #cfcfcf;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  letter-spacing: 1px;
}

.your-info-section form .input input::placeholder {
  color: #888888;
  font-size: 14px;
}

/* Step 1 [End]*/






/* Step 2 [Start]*/
.select-plan-section .plans {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  height: 190px;
}

@media (max-width: 560px) {
  .select-plan-section .plans {
    flex-direction: column;
    height: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 376px) {
  .select-plan-section .plans {
    flex-direction: column;
    height: 270px;
    gap: 10px;
  }
}

.select-plan-section .plans .plan {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 14px;
  border: solid 1px #d2d2d2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  user-select: none;
  cursor: pointer;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
}

@media (max-width: 560px) {
  .select-plan-section .plans .plan {
    height: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }
}

.select-plan-section .plans .plan:hover {
  border-width: 2px;
  border-color: #655fa4;
  width: calc(100% - 2px);
}

.select-plan-section .plans .plan.active {
  border-width: 2px;
  border-color: #655fa4;
  background-color: #f8f9fe;
  width: calc(100% - 2px);
}

.select-plan-section .plans .plan img {
  width: 40px;
}

.select-plan-section .plans .plan div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select-plan-section .plans .plan div h3 {
  color: #093162;
  font-size: 16px;
}

.select-plan-section .plans .plan div .price {
  color: #a2a3a7;
  font-size: 13px;
}

.select-plan-section .plans .plan div .discount {
  color: #093162;
  font-size: 12px;
}

.select-plan-section .select-sub {
  background-color: #f8f9fe;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.select-plan-section .select-sub label {
  color: #888888;
  font-size: 14px;
  width: 60px;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.select-plan-section .select-sub label:last-child {
  justify-content: flex-start;
}

.select-plan-section .select-sub label.active {
  font-weight: bold;
  color: #093162;
}

.select-plan-section .select-sub #monthly-yearly {
  width: 40px;
  height: 20px;
  background-color: #053675;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select-plan-section .select-sub #monthly-yearly span {
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* Step 2 [End]*/






/* Step 3 [Start]*/
.add-ons-section .add-ons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-ons-section .add-ons .add {
  padding: 25px;
  border: solid 1px #d2d2d2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

@media (max-width: 992px) {
  .add-ons-section .add-ons .add {
    gap: 20px;
    justify-content: flex-start;
    padding: 14px;
  }
}

@media (max-width: 376px) {
  .add-ons-section .add-ons .add {
    gap: 0;
  }
}

.add-ons-section .add-ons .add.active {
  background-color: #f8f9fe;
  border-width: 2px;
  border-color: #655fa4;
}

.add-ons-section .add-ons .add input {
  accent-color: #453ff9;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.add-ons-section .add-ons .add .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 270px;
}

.add-ons-section .add-ons .add .text h3 {
  color: #093162;
  font-size: 16px;
  width: 180px;
}

@media (max-width: 590px) {
  .add-ons-section .add-ons .add .text {
    width: fit-content;
    margin-left: 16px;
    margin-right: 6px;
  }
}

.add-ons-section .add-ons .add .text p {
  color: #959595;
  margin: 0;
  width: fit-content;
}

.add-ons-section .add-ons .add .price {
  color: #3267a3;
  font-size: 14px;
}

/* Step 3 [End]*/






/* Step 4 [Start]*/
.finish-section .content .layout-content p,
.finish-section .content .layout-total p {
  margin: 0;
}

.finish-section .layout-content {
  background-color: #f8f9fe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.finish-section .layout-content .line,
.finish-section .layout-content .line,
.finish-section .layout-content .line,
.finish-section .layout-content .line,
.finish-section .layout-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finish-section .layout-content .line div .type-sub {
  color: #053675;
  font-size: 15px;
}

.finish-section .layout-content .line div button {
  background-color: transparent;
  border: none;
  color: #959595;
  text-decoration: underline;
  font-size: 14px;
  user-select: none;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.finish-section .layout-content .line div button select {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 50px;
  cursor: pointer;
}

.finish-section .layout-content .line div button:hover {
  color: #252525;
}

.finish-section .layout-content .line div button select option {
  color: #093162;
  font-weight: bold;
}

.finish-section .layout-content .line .price-sub {
  color: #053675;
  font-weight: bold;
  font-size: 15px;
}

.finish-section .layout-content hr {
  border: solid 1px #eee;
}


.finish-section .layout-content .line p {
  font-size: 14px;
}

.finish-section .layout-content .line span {
  color: #053675;
  font-size: 14px;
  font-weight: 500;
}

.finish-section .layout-total {
  padding: 20px;
}

.finish-section .layout-total .total-price {
  color: #483efe;
  font-weight: bold;
  font-size: 18px;
}

.finish-section .confirm-button {
  background-color: #483efe !important;
  border-color: #483efe !important;
}

.finish-section .confirm-button:hover {
  background-color: #fff !important;
  color: #483efe !important;
}

/* Step 4 [End]*/


/* Step 5 [Start] */
.subscribed-section {
  justify-content: center !important;
}

.subscribed-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribed-section .content img {
  width: 70px;
  height: 70px;
  user-select: none;
}

.subscribed-section .content h2 {
  margin-top: 30px;
}

.subscribed-section .content p {
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
}

/* Step 5 [End] */




footer {
  padding: 40px;
  background-color: #252525;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 380px;
}

@media (max-width: 992px) {
  footer {
    background-color: #fff;
    padding: 20px;
  }
}

@media (max-width: 992px) {
  footer.step5 {
    display: none;
  }
}

footer a {
  text-decoration: none;
  color: #6e9aff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

@media (max-width: 992px) {

  footer a,
  footer p {
    display: none;
  }
}

footer a:hover {
  color: #2768ff;
}

@media (max-width: 992px) {
  footer .steps-buttons-holder {
    display: flex !important;
    justify-content: space-between;
    width: calc(80% + 80px);
    margin: 0 auto;
  }

  footer .steps-buttons-holder.step1 {
    justify-content: flex-end;
  }

  footer .steps-buttons-holder .next-step {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}